<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.treasure_ct.happiness_xt">

    <permission
        android:name="com.treasure_ct.happiness_xt.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.treasure_ct.happiness_xt.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".XTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.user.UserRegisterActivity"/>
        <activity android:name=".activity.user.UserEditUserInfoActivity"/>
        <activity android:name=".activity.life.LifeAllActivity"/>
        <activity android:name=".activity.life.LifeWeatherActivity"/>
        <activity android:name=".activity.life.LifeWeatherCityListActivity"/>
        <activity android:name=".activity.life.LifeMapActivity"/>
        <activity android:name=".activity.entertainment.HomeNewsWebActivity"/>
        <activity android:name=".activity.life.LifeRecordActivity"/>
        <activity android:name=".activity.user.UserSettingsActivity"/>
        <activity android:name=".activity.user.UserPushActivity"/>
        <activity android:name=".activity.user.UserFeedBackActivity"/>
        <activity android:name=".activity.life.LifeRobotActivity"/>
        <activity android:name=".activity.life.LifeVrWholeActivity"/>

        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Bmob云 添加 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <activity
            android:name=".CreateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeleteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FindActivity"
            android:screenOrientation="portrait"/>

        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   百度Map     !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6rObwiDir836uYr0LkUaKiclgRNCWRF0"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   JPUSH       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.treasure_ct.happiness_xt"/>
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.treasure_ct.happiness_xt"/>
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="com.treasure_ct.happiness_xt"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.treasure_ct.happiness_xt"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="553736f74275ad81b0a1f34a"/>

        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   QQLogin       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106101064"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Mob BBS       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1d07430de8d54"/>

        <activity android:name=".activity.user.UserForgetPassActivity">
        </activity>
        <activity android:name=".activity.user.UserSignInActivity">
        </activity>
        <activity android:name=".activity.life.LifeMusicActivity">
        </activity>
        <activity android:name=".activity.entertainment.HomeWeChatListItemActivity">
        </activity>
        <activity android:name=".activity.life.LifeDynamicItemActivity">
        </activity>
        <activity android:name=".activity.life.LifeDeliciousActivity">
        </activity>
        <activity android:name=".activity.life.LifeDeliciousDetailActivity">
        </activity>
        <activity android:name=".activity.entertainment.EntertainmentActivity">
        </activity>
        <activity android:name=".activity.life.LifeActivity">
        </activity>
        <activity android:name=".activity.dynamic.DynamicActivity">
        </activity>
        <activity android:name=".activity.user.UserActivity">
        </activity>
        <activity android:name=".activity.entertainment.HomeJokerDetailActivity">
        </activity>
        <activity android:name=".activity.life.LifeTrafficActivity">
        </activity>
        <activity android:name=".activity.entertainment.HomeEmbarrassDetailActivity">
        </activity>
        <activity android:name=".activity.entertainment.HomeGpssipDetailActivity">
        </activity>
        <activity android:name=".activity.entertainment.HomeJokerImageDetailActivity">
        </activity>
        <activity android:name=".Main2Activity">
        </activity>
        <activity android:name=".activity.user.UserPatternActivity">
        </activity>
        <activity android:name=".activity.dynamic.DynamicAllActivity">
        </activity>
    </application>

</manifest>